<app-navbaradmin></app-navbaradmin>
<div>
  <br />
  <br />
  <h1 class="titulo1">Instructores</h1>

  <!--Boton Agregar couch -->

  <div class="Btn-Agregar">
    <button
      type="button"
      class="btn btn-dark"
      data-bs-toggle="modal"
      data-bs-target="#AgregarCouch"
      routerLink="/addCoach"
    >
      Agregar
    </button>
  </div>
  <br />
  <div class="card-container">
    <div
      class="card"
      style="max-width: 20rem"
      *ngFor="let instructores of listInstructores"
    >
      <div class="card-body">
        <img
          src="{{ instructores.Foto_Instructor }}"
          class="card-img-top"
          alt="Imagen del instructor"
        />
        <h5 class="card-title">Nombre: {{ instructores.Nombre_Completo }}</h5>
        <p>Edad: {{ instructores.Edad }}</p>
        <p>Email: {{ instructores.Correo }}</p>
        <p>Teléfono: {{ instructores.Telefono }}</p>
        <p>Especialidad: {{ instructores.Especialidad }}</p>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-dark float-start"
          data-bs-toggle="modal"
          data-bs-target="#Modificar"
          [routerLink]="['/editCoach', instructores._id]"
        >
          Modificar
        </button>
        <button
          type="button"
          class="btn btn-danger float-end"
          (click)="eliminarInstructor(instructores._id)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<app-footer></app-footer>
