<app-navbaradmin></app-navbaradmin>
<br />
<br />
<div class="row row-cols-1 row-cols-md-2 g-0">
  <div class="col">
    <div class="card" style="max-width: 30rem">
      <img
        src="../../../assets/coaches2.jpg"
        width="150rem"
        height="300rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <a type="button" class="btn btn-outline-dark" href="instructores"
          >Ver Instructores</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="max-width: 30rem">
      <img
        src="../../../assets/Class2.png"
        width="150rem"
        height="300rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <a type="button" class="btn btn-outline-dark" href="class"
          >Ver Clases</a
        >
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<app-footer></app-footer>
