<app-navbaradmin></app-navbaradmin>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{ titulopro | uppercase }}</span>
          <form
            class="mb-3"
            [formGroup]="instructorForm"
            (ngSubmit)="agregarInstructor()"
          >
            <div class="mt-3">
              <input
                formControlName="Nombre_Completo"
                type="text"
                class="form-control form-control-lg"
                placeholder="Nombre del Instructor"
              />
              <div
                class="text-danger"
                *ngIf="
                  instructorForm.get('Nombre_Completo')?.hasError('required') &&
                  instructorForm.get('Nombre_Completo')?.touched
                "
              >
                <span
                  >El Nombre del Instructor
                  <strong>es obligatorio</strong></span
                >
              </div>
            </div>
            <div class="mt-3">
              <input
                formControlName="Edad"
                type="number"
                class="form-control form-control-lg"
                placeholder="Edad del Instructor"
              />
              <div
                class="text-danger"
                *ngIf="
                  instructorForm.get('Edad')?.hasError('required') &&
                  instructorForm.get('Edad')?.touched
                "
              >
                <span
                  >La Edad del Instructor <strong>es obligatoria</strong></span
                >
              </div>
            </div>
            <div class="mt-3">
              <input
                formControlName="Correo"
                type="text"
                class="form-control form-control-lg"
                placeholder="Correo del Instructor"
              />
              <div
                class="text-danger"
                *ngIf="
                  instructorForm.get('Correo')?.hasError('required') &&
                  instructorForm.get('Correo')?.touched
                "
              >
                <span
                  >El Correo del Instructor
                  <strong>es obligatorio</strong></span
                >
              </div>
            </div>
            <div class="mt-3">
              <input
                formControlName="Telefono"
                type="number"
                class="form-control form-control-lg"
                placeholder="Teléfono del Instructor"
              />
              <div
                class="text-danger"
                *ngIf="
                  instructorForm.get('Telefono')?.hasError('required') &&
                  instructorForm.get('Telefono')?.touched
                "
              >
                <span
                  >El Telefono del Instructor
                  <strong>es obligatorio</strong></span
                >
              </div>
            </div>

            <div class="mt-3">
              <select
                formControlName="Especialidad"
                class="form-select form-select-lg"
                placeholder="Especialidad"
              >
                <option>Aeróbics</option>
                <option>Entrenamientos de pecho</option>
                <option>Entrenamientos de espalda</option>
                <option>Entrenamiento de biceps</option>
                <option>Entrenamiento piernas</option>
              </select>

              <div
                class="text-danger"
                *ngIf="
                  instructorForm.get('Especialidad')?.hasError('required') &&
                  instructorForm.get('Especialidad')?.touched
                "
              >
                <span
                  >La Especialidad del Instructor
                  <strong>es obligatoria</strong></span
                >
              </div>
            </div>
            <div class="mt-3">
              <input
                formControlName="Foto_Instructor"
                type="text"
                class="form-control form-control-lg"
                placeholder="Foto del Instructor"
              />
              <div
                class="text-danger"
                *ngIf="
                  instructorForm.get('Foto_Instructor')?.hasError('required') &&
                  instructorForm.get('Foto_Instructor')?.touched
                "
              >
                <span
                  >La Foto del Instructor <strong>es obligatoria</strong></span
                >
              </div>
            </div>

            <div class="mt-3">
              <button
                routerLink="/instructores"
                class="btn btn-outline-dark btn-lg float-start"
              >
                Volver
              </button>
              <button
                type="submit"
                class="btn btn-outline-success btn-lg float-end"
                [disabled]="instructorForm.invalid"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
