<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted"
  style="background-color: rgba(0, 0, 0, 0.05)"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-between p-0 border-bottom"
  >
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-1">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <img src="../../../assets/Logo.png" alt="" />
          <br />
          <p>
            Brindamos herramientas que ayudan a nuestros clientes a alcanzar una
            salud integral tanto física y mental.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">Address</h6>
          <a
            >Educación Tecnológica 34, Fracc. Universidad, 37800 Dolores Hidalgo
            Cuna de la Independencia Nacional, Gto.
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
          <p>Sportacusgym@gmail.com</p>
          <p>+ 52 415 118 8994</p>
          <p>+ 52 418 126 0137</p>
          <p>+ 52 468 102 5325</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a>SPORTACUSGYM</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
